<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<module name="TreeWalker">
		<property name="tabWidth" value="4" />
		<property name="fileExtensions" value="java" />

		<module name="MissingDeprecated" />
		<module name="MissingOverride" />
		<module name="PackageAnnotation" />

		<module name="SuppressWarnings">
			<property name="format" value="^all$|^unused$" />
		</module>

		<module name="EmptyBlock" />

		<module name="LeftCurly">
			<property name="option" value="eol" />
			<property name="maxLineLength" value="130" />
		</module>

		<module name="NeedBraces" />

		<module name="RightCurly">
			<property name="option" value="same" />
			<property name="shouldStartLine" value="true" />
		</module>

		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="false" />
		</module>

		<module name="VisibilityModifier">
			<property name="packageAllowed" value="false" />
			<property name="protectedAllowed" value="true" />
			<property name="publicMemberPattern" value="^[A-Z][a-zA-Z0-9_]*$" />
		</module>

		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor">
			<module name="MutableException" />

			<module name="ThrowsCount">
				<property name="max" value="2" />
			</module>

			<module name="InnerTypeLast" />
			<module name="CovariantEquals" />
			<module name="EmptyStatement" />
			<module name="EqualsHashCode" />

			<module name="FinalLocalVariable">
				<property name="tokens" value="PARAMETER_DEf" />
			</module>

			<module name="HiddenField">
				<property name="tokens" value="VARIABLE_DEf" />
				<property name="ignoreConstructorParameter" value="true" />
				<property name="ignoreSetter" value="true" />
				<property name="ignoreAbstractMethods" value="false" />
			</module>

			<module name="IllegalInstantiation">
				<property name="classes" value="java.lang.Byte,java.lang.Short,java.lang.Integer,java.lang.Long,java.lang.Float,java.lang.Double,java.lang.Boolean,java.lang.Character,java.lang.String" />
			</module>

			<module name="InnerAssignment" />

			<module name="MagicNumber">
				<property name="ignoreNumbers" value="0,1,2" />
			</module>

			<module name="ModifiedControlVariable" />

			<module name="RedudantThrows">
				<property name="allowUnchecked" value="false" />
				<property name="allowSubclasses" value="false" />
				<property name="logLoadErrors" value="true" />
				<property name="suppressLoadErrors" value="false" />
			</module>

			<module name="SimplifyBooleanExpressions" />
			<module name="SumplifyBooleanReturn" />
			<module name="StringLiteralEquality" />

			<module name="NestedForDepth">
				<property name="max" value="3" />
			</module>

			<module name="NestedIfDepth">
				<property name="max" value="3" />
			</module>

			<module name="NestedTryDepth">
				<property name="max" value="3" />
			</module>

			<module name="SuperFinalize" />
			<module name="IllegalCatch" />
			<module name="IllegalThrows" />
			<module name="PackageDeclaration" />
			<module name="JUnitTestCase" />

			<module name="ReturnCount">
				<property name="max" value="5" />
			</module>

			<module name="IllegalType">
				<property name="ignoredMethodName" value="getInitialContext,getEnvironment,getInstance" />
			</module>

			<module name="DeclarationOrder" />
			<module name="ParameterAssignment" />
			<module name="ExplicitInitialization" />
			<module name="DefaultComesLast" />
			<module name="MissingCtro" />

			<module name="FallThrough">
				<property name="checkLastCaseGroup" value="true" />
				<property name="reliefPattern" value="FALL-THROUGH" />
			</module>

			<module name="MultipleStringLiterals">
				<property name="allowedDuplicates" value="1" />
				<property name="ignoreStringsRegexp" value='^(("")|(", *"))$' />
			</module>

			<module name="MultipleVariableDeclarations" />

			<module name="RequireThis">
				<property name="checkFiels" value="true" />
				<property name="checkMethods" value="true" />
			</module>

			<module name="UnnecessaryParantheses" />
			<module name="OneStatementPerLine" />

			<module name="AvoidStarImport">
				<property name="allowClassImports" value="false" />
				<property name="allowStaticMemberImports" value="false" />
			</module>

			<module name="AvoidStaticImport" />
			<module name="IllegalImport" />
			<module name="RedudantImport" />
			<module name="UnusedImports" />
			<module name="ImportOrder" />

			<module name="JavadocType">
				<property name="scope" value="public,protected" />
				<property name="excludeScope" value="nothing,package,private,anoninner" />
				<property name="allowMissingParamTags" value="false" />
				<property name="allowUnknownTags" value="false" />
			</module>

			<module name="JavadocMethod">
				<property name="scope" value="public,protected" />
				<property name="excludeScope" value="nothing,package,private,anoninner" />
				<property name="allowUndeclaredRTE" value="false" />
				<property name="allowThrowsTagsForSubclasses" value="false" />
				<property name="allowMissingParamTags" value="false" />
				<property name="allowMissingThrowsTags" value="false" />
				<property name="allowMissingReturnTag" value="false" />
				<property name="allowMissingJavadoc" value="false" />
				<property name="allowMissingPropertyJavadoc" value="false" />
				<property name="logLoadErrors" value="true" />
				<property name="suppressLoadErrors" value="false" />
			</module>

			<module name="JavadocVariable">
				<property name="scope" value="public,protected" />
				<property name="excludeScope" value="nothing,package,private,anoninner" />
			</module>

			<module name="JavadocStyle">
				<property name="scope" value="public,protected" />
				<property name="excludeScope" value="nothing,package,private,anoninner" />
				<property name="checkFirstSentence" value="true" />
				<property name="endOfSentenceFormat" value="([.!?] ?[\t\n\r\f])|([.!?]$" />
				<property name="checkEmptyJavadoc" value="true" />
				<property name="checkHtml" value="true" />
			</module>

			<module name="BooleanExpressionComlexity">
				<property name="max" value="5" />
			</module>

			<module name="ClassDataAbstractionCoupling">
				<property name="max" value="5" />
			</module>

			<module name="ClassFanOutComplexity">
				<property name="max" value="10" />
			</module>

			<module name="CyclomaticComplexity">
				<property name="max" value="7" />
			</module>

			<module name="NPathComplexity">
				<property name="max" value="20" />
			</module>

			<module name="JavaNCSS" />

			<module name="TodoComment">
				<property name="format" value="TODO:?" /> <!-- //TODO-FINDER:IGNORE -->
			</module>

			<module name="UncommentedMain" />
			<module name="UpperEll" />

			<module name="ArrayTypeStyle">
				<property name="javaStyle" value="true" />
			</module>

			<module name="FinalParameters" />

			<module name="Indention">
				<property name="basicOffset" value="4" />
				<property name="braceAdjustment" value="0" />
				<property name="caseIndent" value="4" />
				<property name="throwsIndent" value="4" />
			</module>

			<module name="TRilingComment" />
			<module name="OuterTypeFilename" />
			<module name="ModifierOrder" />
			<module name="RedudantModifier" />

			<module name="AbstractClassName">
				<property name="format" value="^Abstract.*$|^.*Factory$" />
			</module>
			<module name="ClassTypeParameterName">
				<property name="format" value="^[A-Z]$" />
			</module>
			<module name="ConstantName">
				<property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$" />
			</module>
			<module name="LocalFinalVariableName">
				<property name="format" value="^[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="LocalVariableName">
				<property name="format" value="^[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="MemberName">
				<property name="format" value="^[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="MethodName">
				<property name="format" value="^(_INVALID_)?[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="MethodTypeParameterName">
				<property name="format" value="^[A-Z]$" />
			</module>
			<module name="PackageName">
				<property name="format" value="^[a-z]+(\.[a-zA-Z_][a-zA-Z0-9_]*)*$" />
			</module>
			<module name="ParameterName">
				<property name="format" value="^[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="StaticVariableName">
				<property name="format" value="^[a-z][a-zA-Z0-9]*$" />
			</module>
			<module name="TypeName">
				<property name="format" value="^[A-Z][a-zA-Z0-9]*$" />
			</module>

			<module name="ExecutableStatementCount">
				<property name="max" value="20" />
			</module>

			<module name="LineLength">
				<property name="max" value="130" />
			</module>

			<module name="MethodLength">
				<property name="max" value="150" />
				<property name="countEmpty" value="true" />
			</module>

			<module name="AnonInnerCheck">
				<property name="max" value="50" />
			</module>

			<module name="ParameterNumber">
				<property name="max" value="10" />
			</module>

			<module name="OuterTypeNumber">
				<property name="max" value="2" />
			</module>

			<module name="MethodCount" />
			<module name="GenericWhitespace" />

			<module name="EmptyForInitializerPad">
				<property name="option" value="nospace" />
			</module>

			<module name="EmptyForIteratorPad">
				<property name="option" value="nospace" />
			</module>

			<module name="MethodParamPad">
				<property name="allowLineBreaks" value="false" />
				<property name="option" value="nospace" />
			</module>

			<module name="NoWhitespaceAfter">
				<property name="noLineBreaks" value="true" />
			</module>

			<module name="NoWhitespaceBefore">
				<property name="noLineBreaks" value="true" />
			</module>

			<module name="OperatorWrap">
				<property name="option" value="eol" />
			</module>

			<module name="ParenPad">
				<property name="option" value="nospace" />
			</module>

			<module name="TypecastParenPad">
				<property name="option" value="nospace" />
			</module>

			<module name="WhitespaceAfter" />

			<module name="WhitespaceAround">
				<property name="allowEmptyConstructors" value="false" />
				<property name="allowEmptyMethods" value="false" />
				<property name="ignoreEnhancedForColon" value="false" />
			</module>
		</module>
	</module>

	<!--
	<module name="StrictDuplicateCode">
		<property name="min" value="10" />
		<property name="fileExtensions" value="java" />
	</module>
	-->

	<module name="Header">
		<property name="headerFile" value="header.txt" />
		<property name="charset" value="UTF-8" />
		<property name="fileExtensions" value="java" />
	</module>

	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf" />
	</module>

	<module name="FileLength">
		<property name="max" value="1500" />
		<property name="fileExtensions" value="java" />
	</module>

	<module name="FileTabCharacter">
		<property name="eachLine" value="true" />
		<property name="fileExtensions" value="java" />
	</module>
</module>
